package/R/old/
package/src/old/
userguide/SRR372741_AA.bam
userguide/SRR372741_AA/
userguide/SRR372741_AA_strip.tsv
userguide/SRR372741_AB
userguide/SRR372741_BB
userguide/SRR372742_AA
userguide/SRR372742_AB
userguide/SRR372742_BB
userguide/dacpetUG.aux
userguide/dacpetUG.bbl
userguide/dacpetUG.blg
userguide/dacpetUG.log
userguide/dacpetUG.pdf
userguide/dacpetUG.tex
userguide/dacpetUG.toc
userguide/here_peaks.bed
userguide/linker.sh
userguide/plots-ug/
userguide/pooled.bed
userguide/results.tsv
