package/R/old/
package/src/old/
userguide/SRR37274*
userguide/dacpetUG.aux
userguide/dacpetUG.bbl
userguide/dacpetUG.blg
userguide/dacpetUG.log
userguide/dacpetUG.pdf
userguide/dacpetUG.tex
userguide/dacpetUG.toc
userguide/here_peaks.bed
userguide/linker.sh
userguide/plots-ug/
userguide/dinter.tsv
userguide/results.tsv
userguide/pooled.bed
